security:
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      lazy: true
      provider: app_user_provider
      # ✅ pas de form_login, pas de logout
      # ✅ marketplace ouverte

  access_control:
    # ✅ marketplace ouverte (temp)
    - { path: ^/admin, roles: PUBLIC_ACCESS }
    - { path: ^/patient, roles: PUBLIC_ACCESS }

    # ✅ api ouverte (temp)
    - { path: ^/api, roles: PUBLIC_ACCESS }
