<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Accueil Forum</title>
</head>
<body>

<h1>Bienvenue sur le Forum</h1>

<p>Choisissez votre interface :</p>

<a href="{{ path('forum_frontoffice') }}"><button>Front-office</button></a>
<a href="{{ path('forum_backoffice') }}"><button>Back-office</button></a>

</body>
</html>